[data-md-color-scheme=slate] {
    --md-hue: 232;
    --md-default-fg-color: white;
    --md-default-fg-color--light: white;
    --md-default-fg-color--lighter: white;
    --md-default-fg-color--lightest: white;
    --md-default-bg-color: black;
    --md-default-bg-color--light: white;
    --md-default-bg-color--lighter: white;
    --md-default-bg-color--lightest: white;
    --md-code-fg-color: hsla(var(--md-hue),18%,86%,1);
    --md-code-bg-color: hsla(var(--md-hue),15%,15%,1);
    --md-code-hl-color: #4287ff26;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: white;
    --md-typeset-a-color: white;
    --md-typeset-mark-color: #4C566A;
    --md-typeset-kbd-color: hsla(var(--md-hue),15%,94%,0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue),15%,94%,0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue),15%,14%,1);
    --md-typeset-table-color: hsla(var(--md-hue),75%,95%,0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue),75%,95%,0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color: black;
    --md-footer-bg-color--dark: black;
    --md-shadow-z1: 0 0.2rem 0.5rem #0003,0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000004d,0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
    color-scheme: dark;
}

[data-md-color-primary=black] {
    --md-primary-fg-color: white;
    --md-primary-fg-color--light: white;
    --md-primary-fg-color--dark: white;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-typeset-a-color: #A3BE8C;
}